Source: resmtp
Section: mail
Priority: extra
Maintainer: Yuri Epstein <yuri.epstein@gmail.com>
Build-Depends: debhelper, cmake, libssl-dev, libboost-all-dev
Standards-Version: 3.9.5

Package: resmtp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, logrotate
Description: SMTP frontend proxy server
