Source: resmtp
Section: mail
Priority: extra
Maintainer: Yuri Epstein <yuri.epstein@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), cmake, libssl-dev, libboost-dev, libboost-regex-dev
Standards-Version: 3.9.1

Package: resmtp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-program-options, libboost-system, libboost-thread, libc6 (>= 2.19~), libopendkim9, libspf2-2 (>= 1.2.10~), libssl1.0.0 (>= 1.0.0~), opendkim (>= 2.9.1~)
Description: Asynchronous SMTP proxy server

